---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import LayoutProjet from "../layouts/BaseLayout/LayoutProjet.astro";

export async function getStaticPaths() {
  const projectEntries = await getCollection("projet");
  return projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<LayoutProjet title={entry.data.title} frontmatter={entry.data}>
  <main class="pagecontainer">
    <div class="title-container">
      <h1>{entry.data.title}</h1>
      <ul class="taglist">
        {entry.data.tags.map((tag) => (<li>{tag}</li>))}
      </ul>
    </div>
    <section class="projectpage">
      <div class="img-container">
        <a class="linkimg" href={entry.data.link} aria-label={entry.data.title} target="_blank" rel="noopener noreferrer" ></a>
        <Image
          transition:name=`animate-${entry.data.title}`
          src={entry.data.img}
          alt={entry.data.title}
          format="avif"
        />
      </div>
      <article>
        <Content />
      </article>
    </section>
  </main>
</LayoutProjet>

<style lang="scss">
  
h1{
  @include title($main);
  animation: upShift forwards ease 400ms;
  
}
  article{
    animation: leftShift forwards ease 400ms;
  }

  .pagecontainer {
    background-color: $second;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 100px 50px;
    min-height:90vh;
  }
  .projectpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    @media screen and (max-width:1600px) {
      flex-direction: column;
      align-items: center;
    }
    
  }
  .img-container {
    position: relative;
    padding: 5px;
    width: 70%;
    background-color: $third;    
    border-radius: 30px;
    display:flex;
    flex-shrink: 0;
    
    & img {
    height: 100%;
    width: 100%;
    object-fit:contain;
    border-radius: 30px;
      
    }
  }
  .projectpage article {
   
    padding: 25px;

    
  }
  .linkimg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .taglist{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    padding: 0;
    margin: 50px 0;
   
    
    & li {
      list-style: none;
      background-color: $third;
      border-radius:10px;
      color: $text-second;
      padding: 5px 10px;
      font-size: clamp(12px, 2vw, 16px);

    }

  }
</style>
