---
const { url, title, desc, img, balise } = Astro.props;
import { Picture } from "astro:assets";

---

<article class="project-card">
  <a class="link" href={url} aria-label={title}></a>
  <div class="darken"></div>
  {(balise=='a') && 
  <Picture
    transition:name=`animate-${title}`
    src={img}
    alt=`projet ${title} `
    quality={70}
    densities={[1.5,2]}
    format="avif"
    
  /> }
 {(balise=='b') && 
 <img 
 transition:name=`animate-${title}`
  src=`../src/assets/${img}`
  alt=`projet ${title} `>
}

<div class="project-card--text">
  <h3 transition:name=`animate-title-${title}`>{title}</h3>
  <p>{desc}</p>
  </div>
  </article>
  
<style lang="scss">
  .darken {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    inset: 0%;
    border-radius: 10px;
    border: 1px solid black;
    opacity: 0.2;
  }
  .project-card:hover > .darken,
  .project-card:hover > .project-card--text {
    color: $text-second;
    opacity: 1;
  }

  .project-card {
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    aspect-ratio: 16/9;
    width: 90%;
    outline: #43d590 dashed 2px;
    outline-offset: 15px;
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.99);
    transition: transform 500ms, box-shadow 500ms, outline-offset 500ms;
    display: flex;
    align-items: center;
    animation: upShiftSec linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 30% ;
    

    &:hover{
      transform: scale(1.05);
      box-shadow: 11px 11px 0px 0px rgba(0, 0, 0, 0.99);
      transition: transform 500ms, box-shadow 500ms, outline-offset 500ms;
      outline-offset: 18px;

    }
  }
  .project-card--text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 3;
    opacity: 0.01;
    font-size: clamp(12px,2vw,16px);
  }
  .project-card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 0;
    top: 0;
  }
  .project-card a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
</style>
