---
const { title, content, link, year, type } = Astro.props;
---

{
  type == "pair" && (
    <div class="timeline-component timeline-content">
      <h3>{title}</h3>
      <p>{content}</p>
      <p class="year year-odd">{year}</p>
      {link && <a class="link" href={link} target="_blank" rel="noopener noreferrer" aria-label={title}/>}

    </div>
    <div class="timeline-middle">
    <div class="timeline-circle"></div>
  </div>
  <div class="timeline-empty"></div>
    
  )
}


{
  type == "odd" && (
    <div class="timeline-empty"></div>
    <div class="timeline-middle">
      <div class="timeline-circle"></div>
    </div>
    <div class="timeline-component timeline-content">
      <h3>{title}</h3>
      <p>{content}</p>
      <p class="year year-pair">{year}</p>
      {link && <a class="link" href={link} target="_blank" rel="noopener noreferrer" aria-label={title}/>}
    </div>
  )
}

<style lang="scss">
.timeline-content {
  position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background: #43d590;
    color: $text-prim;
    padding: 5px;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 20px 20px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
   
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.99);
    
  }
  
  @media screen and (min-width: 767px) {
    
    .timeline-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $timeline;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .timeline-middle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $timeline;
      width: 3px;
      height: 100%;
    }
    .year{
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      color: black !important;
      width: 300px;
      margin: 0;
      
      
      
      &-pair{
        transform: translate(-180%, 0);
        justify-content: flex-end;
        
      }
      &-odd{
        transform: translate(80%, 0%);
        justify-content: flex-start;
  
        }
    }
  }

  .link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
