---
import js from "../assets/js.svg";
import react from "../assets/react.svg";
import redux from "../assets/redux.svg";
import sass from "../assets/sass.svg";
import css from "../assets/css.svg";
import html from "../assets/html.svg";
import astro from "../assets/astro.svg";
import { Image } from "astro:assets";
---

<section class="bio" id="bio">
  <h2>Formation et competences</h2>
  <div class="bio-container">
    <div class="formation">
      <article>
        <p>
          J'ai suivi durant l'annee 2023 la formation openclassroom
          d'integrateur web qui m'as permis de découvrir les bases du
          developpement front end j'ai eu l'occasion d'apprendre differentes
          technologies telles que Html css javascript React ... Le point fort de
          ce cursus est l'accent qui est mis sur le developpement d'une
          autonomie en tant que developpeur. Les differents projets que j'ai pu
          realiser suivait un template similaire avec souvent une maquette a
          implementer et des fonctionnalites a mettre en place et il me revenait
          de determiner la marche a suivre pour obtenir le resultat attendu.
          Ainsi en plus des competences purement techniques qu'il etait
          necessaires que j'acquiert pour mettre en place les solutions, j'ai
          aussi pu grandement travailler sur ma capcite a resoudre des
          problemes.
        </p>
        <p>
          Cette methode de travail m'as permis d'apprendre a exploiter le large
          choix d'outils existant pour selectionner celui qui sera le plus
          adapte a la resolution d'un probleme mais aussi a etre efficace dans
          l'apprentissage de la mise en oeuvre de celui-ci afin de mettre en
          place une solution qui repond idealment a mon probleme initial.
        </p>
      </article>
      
    </div>
    <div class="competence">
      <div class="categorie">
        <h3>Languages</h3>
        <div class="image-container">

          <Image class="icon" src={html} alt="html" />
          <Image class="icon" src={css} alt="css" />
          <Image class="icon" src={js} alt="js" />
        </div>
      </div>
      <div class="categorie">
        <h3>Framework</h3>

        <div class="image-container">

          <Image class="icon" src={react} alt="react" />
          <Image class="icon" src={astro} alt="astro" />
        </div>
        
      </div>
      <div class="categorie">
        <h3>Outils</h3>

        <div class="image-container">

          <Image class="icon" src={sass} alt="sass" />
          <Image class="icon" src={redux} alt="redux" />
        </div>
      </div>
      <div class="formation-img">
      </div>
      
      
    </div>
  </div>
</section>

<style lang="scss">
  .bio {
    display: flex;
    flex-direction: column;
    /* background-image: url("../assets/contactbg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
    min-height: 60vh;
    background-color: white;
    color: #1b262c;
    border-top: 2px solid grey;
    padding: 50px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    & bio h2 {
      width: fit-content;
      padding: 15px;
      font-size: 32px;
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 2px solid grey;
    }
    & bio p {
      font-size: 20px;
    }
    &-container {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }
    &-container article {
      padding: 0 20px;
    }
  }
  .formation {
    display: flex;
    flex-direction: row;
    & article {
      
    }
  }
  .competence {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    & article {
      width: 50%;
    }
    &-img {
      width: 50%;
    }
  }
  .icon {
    height: 100px;
    width: 100px;
  }

  .categorie{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

</style>
