---
import js from "../assets/svg/js.svg";
import react from "../assets/svg/react.svg";
import redux from "../assets/svg/redux.svg";
import sass from "../assets/svg/sass.svg";
import css from "../assets/svg/css.svg";
import html from "../assets/svg/html.svg";
import astro from "../assets/svg/astro.svg";
import { Image, Picture } from "astro:assets";
import ocint from '../assets/oc-int.avif'
---

<section class="comp" id="comp">
  <h2>Competences</h2>
  <div class="comp-container">
    <div class="formation">
      <Image class={'oclogo'} src={ocint} alt='formation integrateur web OpenClassroom' format="avif"/>
      <article>
        <p>
          J'ai suivi durant l'année 2023 la formation OpenClassrooms
          d'intégrateur web qui m'a permis de découvrir les bases du
          développement front-end. J'ai eu l'occasion d'apprendre différentes
          technologies telles que HTML, CSS, JavaScript, React, etc. Le point
          fort de ce cursus est l'accent qui est mis sur le développement d'une
          autonomie en tant que développeur. Les différents projets que j'ai pu
          réaliser suivaient un template similaire, avec souvent une maquette à
          implémenter et des fonctionnalités à mettre en place, et il me
          revenait de déterminer la marche à suivre pour obtenir le résultat
          attendu. Ainsi, en plus des compétences purement techniques qu'il
          était nécessaire que j'acquière pour mettre en place les solutions,
          j'ai aussi pu grandement travailler sur ma capacité à résoudre des
          problèmes.
        </p>
        <p>
          Cette méthode de travail m'a permis d'apprendre à exploiter le large
          choix d'outils existant pour sélectionner celui qui sera le plus
          adapté à la résolution d'un problème, mais aussi à être efficace dans
          l'apprentissage de la mise en œuvre de celui-ci afin de mettre en
          place une solution qui répond idéalement à mon problème initial.
        </p>
      </article>
    </div>
    <div class="competence">
      <div class="categorie">
        <h3>Languages</h3>
        <div class="image-container">
          <Picture class="icon" src={html} alt="html" />
          <Picture class="icon" src={css} alt="css" />
          <Picture class="icon" src={js} alt="js" />
        </div>
      </div>
      <div class="categorie">
        <h3>Framework</h3>

        <div class="image-container">
          <Picture class="icon" src={react} alt="react" />
          <Picture class="icon" src={astro} alt="astro" />
        </div>
      </div>
      <div class="categorie">
        <h3>Outils</h3>

        <div class="image-container">
          <Picture class="icon" src={sass} alt="sass" />
          <Picture class="icon" src={redux} alt="redux" />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .comp {
    display: flex;
    flex-direction: column;
    /* background-image: url("../assets/contactbg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
    min-height: 60vh;
    background-color: $main;

    /* border-top: 2px solid grey; */
    padding: 100px 50px ;
    gap: 50px;
    justify-content: center;
    align-items: center;
    color: $text-prim;
    clip-path: polygon(0 50px,100% 0,100% 100%,0 calc(100% - 50px)); 
    margin-top: -40px;
    @include animate-section-r;



    & h2 {
      @include title($second);
      animation: rightShiftSec linear both;
    animation-timeline: view();
    animation-range: entry 80% cover 80% ;
    }

    &-container {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }
    &-container article {
      padding: 0 20px;
    }
  }
  .formation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & article {
      font-size: clamp(12px, 4vw, 20px);
      letter-spacing: 1px;
      word-spacing: -1px;
      text-align: justify;
      width: 50%;
      animation: leftShiftSec linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 40% ;
     
    }
    & .oclogo {
      width: 30%;
      height: 30%;
      animation: rightShiftSec linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 40% ;
    }
    @media screen and (max-width: 1023px) {
      flex-direction: column;
      & article {
        width: 100%;
      }
      & .oclogo{
        width: 80%;
        height: 80%;
      }
    }
  }
  .competence {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }

    justify-content: space-evenly;
    margin-top: 40px;
  }
  .icon {
    height: 100px;
    width: 100px;
    padding: 5px;
    background-color: rgba($text-second, 0.99);
    border-radius: 30px;
    animation: upShiftSec linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 40% ;
  }
  .categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    animation: upShiftSec linear both;
    animation-timeline: view();
    animation-range: entry 40% cover 40% ;
  }

  .image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
</style>
